 header {
   padding: 24px;
   font-size: 1.125rem;
 }
header a{
  text-decoration: none;
  color: #bd9eb2;
}
title,nav-links{
  vertical-align: top;
  display: inline-block;
  padding-top: 1rem
}
.nav-links{
  margin-left: 1rem;
  
}